.blur-effect {
	position: absolute;
	width: 250px;
	height: 250px;
	left: -125px;
	top: 159px;

	background: rgba(247, 3, 119, 0.6);
	filter: blur(150px);
}

@media only screen and (max-width: 1400px) {
	.blur-effect {
		display: none;
	}
}
