@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/* Scrollbar */

::-webkit-scrollbar {
	display: none;
}

/* Body */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	background-color: #140b20 !important;
	font-family: "Poppins", sans-serif;
}

#app .container {
	width: min(100% - 30px, 1320px);
}
